<h2>{{ article.id}}번 글</h2>
<h1>{{ article.title }}</h1>
<h2>{{ article.content }}</h2>

<a href="{% url 'index' %}">글 목록</a>
<a href="{% url 'edit' article.id %}">[수정]</a>
<a href="{% url 'delete' article.id  %}">[삭제]</a>

<hr>

<h3>댓글</h3>

<form action="{% url 'comment' article.id %}" method="POST">
    <input type="text" name="content"/>
    <input type="submit" value="Submit"/>
    {% csrf_token %}
</form>

<ul>
    <!--{% for comment in comments %}-->
    <!--<li>{{ comment.content }}</li>-->
    <!--{% endfor %}-->
    
    
    {% for comment in article.comments.all %}
    <li>{{ comment.content }}</li>
    {% endfor %}
</ul>
